<nav id="toolbar">
	<a class="item" href="/">Home</a>
	<div class="fill"></div>
	<div class="dropdown">
		<a class="item" href="/about/robotics">About</a>
		<div class="dropdown-links">
			<a class="item" href="/about/robotics">About Us</a>
			<a class="item" href="/about/meet">Meet the Team</a>
			<a class="item" href="/about/contact">Contact Us</a>
		</div>
	</div>
	<div class="dropdown">
		<span class="item">Engineering</span>
		<div class="dropdown-links">
			<a class="item" href="/engineering/notebook">Notebook</a>
		</div>
	</div>
	<div class="dropdown">
		<span class="item">Outreach</span>
		<div class="dropdown-links">
			<a class="item" href="/outreach/jj">Junior Jellies</a>
			<a class="item" href="/outreach/cad">MS/HS CAD</a>
			<a class="item" href="/outreach/fablab">Fabrication Lab</a>
		</div>
	</div>
    <a class="item" href="/blog">Blog</a>
	<div class="dropdown">
		<span class="item">Other</span>
		<div class="dropdown-links">
			<a class="item" target="_blank" href="https://twitter.com/ftcjellyfish?lang=en">Twitter</a>
			<!--a class="item" target="_blank" href="https://instagram.com/jellyfish4654_">Instagram</a-->
			<a class="item" target="_blank" href="https://github.com/jellyfish4654">GitHub</a>
			<a class="item" target="_blank" href="https://docs.google.com/document/d/1jEro_VZQUczlswpgyQe3nPV5PLRSizwd4XN3Gddrgn0/edit">Constitution</a>
		</div>
	</div>
	<a class="item strong" href="/outreach/jj">Junior Jellies</a>
</nav>

<div id="toolbar-spacer"></div>
