<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head.html" (list "Fabrication Lab")}}
	</head>
	<body>
		{{template "toolbar.html"}}
		<main>
			<div class="bg-img" style="background-image:url('https://lh3.googleusercontent.com/TJzcjpt1DtDsebO0r51kz-Iusn65yqF781HVDeI18AxN9k2XBxIvZnw0h1qDnouQuVkaK9TZktUwpZG7IHJ4apmyh9UybInsbrh4bNVnjNU1t3bEW3PIYy3ujsthW9X6oerwn1P7gM6yvESxBMDHflQW6cs-HKi0WZKVZHRTjxXVuBBWOWIX2C6eM5cMUYACVbNs2rovGJTPrP88cPGzrjfyPC_sgYXXVVl8FX8_-w3j5pOeXIy0slKXkuAaCCjzk2Uzi_lzloplBVuDbqISx35wmXIMeIpl9Tgdgps_hWUtkUYO5F4xjRHryZ23KZrLfUK_fsttoZ4TtByc5-XCu7kOWpC1VvORAoG3nKmtsW3yU0ou24IdnrF5_GNfFNfPKoiV3ZxXqmXOOMef_eSxT1n1vwgWFFbLeSijQ5_G_rlqgDEPRIOtpaPgbXwwLz8dSbv9Ri9bXYMAJCO7Nl4CmekyvIrvQT2cSmrlDwB1BZGTthtqKHAWp9TyzAIHqvo_WpRD08A4398FH_6FFi4k26dKucjBKCSA6JCA7UJjGpbOU2h7bDZS2L34mauGEqvvWF4cXSG7sj4DKh_S8BrMgZUY_U3LlDeE6L3G26eOGsB42aDlxEplFr5RUPQY5k6A2RPnVAulHczPGFry66Aoq0cUo1g5dZjCkn-78Lp5Ek-Wfcsike5qoH1S9sBkNMceZNPxwwQdCSfk7g6cboqLTTqrUtCnvDcnjkQlQCPJqg0glhLU=w1404-h936-no')"></div>
			<h1>Fabrication Lab</h1>
			<section>
				<p>Our team has played a large part in advocating for more STEM in our community; as a result, we are supporting and pushing for the Blind Brook School District’s plans to create a “Fabrication Lab” in the middle/high school. It’s going to be a whole new building in which there’s going to be space to include new items like a lathe, 3D printer, and other machines. Currently, our school is limited as far as space for STEM; our “Fabrication Lab”, where the Robotics team is stationed, is one very small room attached to the edge of a classroom. The new Fab Lab is going to be much larger, offering a substantial amount of space STEM activities and meetings, as well as the new machinery. We’re super excited for it, but unfortunately, it won’t be complete until 2020. We are, however, very excited to prepare our future successors for a successful future as a team and in STEM. This new lab could really revolutionize our team and community, raising our potential to new limits.</p>
			</section>
			<section>
				<img src="https://lh5.googleusercontent.com/mKmrqk8EBeL7KdOFcbljWar7rdiGNlxOAhUsQdrjoYEFaLirun8doacGmVET1ymC-zxuY6Wxdh1RK-rfGlPa1DEG4OnneIIlcC4QzZv8fi1nsmKgWivKiNAiaNCAxQqcdwUgGRJ2" alt="Fab Lab Proposed Design">
			</section>
		</main>
	</body>
</html>
