<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head.html" (list "Junior Jellies")}}
	</head>
	<body>
		{{template "toolbar.html"}}
		<main>
			<div class="bg-img" style="background-image:url('https://lh3.googleusercontent.com/TJzcjpt1DtDsebO0r51kz-Iusn65yqF781HVDeI18AxN9k2XBxIvZnw0h1qDnouQuVkaK9TZktUwpZG7IHJ4apmyh9UybInsbrh4bNVnjNU1t3bEW3PIYy3ujsthW9X6oerwn1P7gM6yvESxBMDHflQW6cs-HKi0WZKVZHRTjxXVuBBWOWIX2C6eM5cMUYACVbNs2rovGJTPrP88cPGzrjfyPC_sgYXXVVl8FX8_-w3j5pOeXIy0slKXkuAaCCjzk2Uzi_lzloplBVuDbqISx35wmXIMeIpl9Tgdgps_hWUtkUYO5F4xjRHryZ23KZrLfUK_fsttoZ4TtByc5-XCu7kOWpC1VvORAoG3nKmtsW3yU0ou24IdnrF5_GNfFNfPKoiV3ZxXqmXOOMef_eSxT1n1vwgWFFbLeSijQ5_G_rlqgDEPRIOtpaPgbXwwLz8dSbv9Ri9bXYMAJCO7Nl4CmekyvIrvQT2cSmrlDwB1BZGTthtqKHAWp9TyzAIHqvo_WpRD08A4398FH_6FFi4k26dKucjBKCSA6JCA7UJjGpbOU2h7bDZS2L34mauGEqvvWF4cXSG7sj4DKh_S8BrMgZUY_U3LlDeE6L3G26eOGsB42aDlxEplFr5RUPQY5k6A2RPnVAulHczPGFry66Aoq0cUo1g5dZjCkn-78Lp5Ek-Wfcsike5qoH1S9sBkNMceZNPxwwQdCSfk7g6cboqLTTqrUtCnvDcnjkQlQCPJqg0glhLU=w1404-h936-no')"></div>
			<h1>Junior Jellies</h1>
			<section>
				<h2>About</h2>
				<img src="https://lh3.googleusercontent.com/Ck1L7W7yNniwrSFx3UtJkjWaAQ3QDvIFEI0sWnEw7hpUS48snQGR4G-OinMB_dG9Jf7x_mnCypoj2CAHdaR2Q-S6Iw1RLp7c6fX6Cf7TrEFjVqUaRvs3fgG83sysSAKYE3Ux3apPg6QP-m84NxPvGAMZI_6oXEsC6qmkP1q_M74q0gd3dE3NJUmrhmHH5wlniAOmHU2mCSAOTLq5YnmI_G1VosTI0-FmvW-f2YQh-_UY8L1bQMWHlTpru9F1GtKPt0pV99_4uXdpvyI0Sol30r83AjDVcQWZuskCxGqkaxW6a9q3ykOea6i3TIgSDawCuqXLaY5ORxXjCEqPkV7e5Kd84sWjI7q_dIsXFSFDOWLR-KdDiuDELpbgVG0Vx4EF7Vz8NERExKTiz5lCln6GoltdJtQmqzcK2PelnPeC3u09Ha9wMWPDP2b8EzTiwDtHEAo0Si0kCWjlVYCy2bh9yqYh7cUkiqqE0D6HlCczKy-4Q144l1O9crMDNxwID4RdL6kS6_IlL-DhiRa5rZIkFQsmM_kcBWwvXkMLaMdeMyRiVv7qpzm5vUC-k3JIghM5YyrAaiY_S7fq0aHhC_XsgUIGi0QtCe3riATB8JzkKgUUoP8JAHKK4HcUi8piJTHhXC7nlDnbzL9r_2lXmXvigAoSiISX_oyrxYg9TjzU814pz9wp9MyoFfIr97IdXG1akYbbrP_UA1iRw9aUtNkiQp58jcZKEqNSwp2GDHoy0C3EzgIp=w1560-h780-no">
				<p>The BBHS Robotics Team, the Jellyfish, is proud to present Junior Jellies, a 7-week LEGO® Robotics Competition after-school program for <strong>BMP RSS 4th and 5th graders</strong>. Junior Jellies is modeled after the FIRST Tech Challenge (FTC), our own robotics league, in order to develop students’ abilities in teamwork, programming, engineering, and critical thinking from a younger age. We also aim to bring FIRST principles Gracious Professionalism® and Coopertition®, which represent the union of friendship and rivalry in a positive way on the playing field, to Blind Brook students, introducing them to skills necessary for success as, hopefully, prospective Jellyfish, but also as learners and individuals.</p>
				<p>Participants will receive a challenge, similar to those in FTC, detailing the actions their robot must be able to perform to earn points, and meeting once a week for 6 consecutive weeks, they will learn to work in groups to construct robots powered by LEGO® NXT bricks. On the 7th and last day, participants will have a chance to show their robot’s performance and their team spirit to receive awards based on robot performance, enthusiasm, design process, and ingenuity, modeling award categories in FTC.</p>
			</section>
			<section>
				<h2 id="signup">Registration</h2>
				<p>Unfortunately, registration is closed for the Fall 2019 season. We will reopen in the Spring.</p>
			</section>
		</main>
	</body>
</html>
