<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head.html" (list "Blog")}}
	</head>
	<body>
		{{template "toolbar.html"}}
		<main>
			<div class="bg-img" style="background-image:url('https://lh3.googleusercontent.com/TJzcjpt1DtDsebO0r51kz-Iusn65yqF781HVDeI18AxN9k2XBxIvZnw0h1qDnouQuVkaK9TZktUwpZG7IHJ4apmyh9UybInsbrh4bNVnjNU1t3bEW3PIYy3ujsthW9X6oerwn1P7gM6yvESxBMDHflQW6cs-HKi0WZKVZHRTjxXVuBBWOWIX2C6eM5cMUYACVbNs2rovGJTPrP88cPGzrjfyPC_sgYXXVVl8FX8_-w3j5pOeXIy0slKXkuAaCCjzk2Uzi_lzloplBVuDbqISx35wmXIMeIpl9Tgdgps_hWUtkUYO5F4xjRHryZ23KZrLfUK_fsttoZ4TtByc5-XCu7kOWpC1VvORAoG3nKmtsW3yU0ou24IdnrF5_GNfFNfPKoiV3ZxXqmXOOMef_eSxT1n1vwgWFFbLeSijQ5_G_rlqgDEPRIOtpaPgbXwwLz8dSbv9Ri9bXYMAJCO7Nl4CmekyvIrvQT2cSmrlDwB1BZGTthtqKHAWp9TyzAIHqvo_WpRD08A4398FH_6FFi4k26dKucjBKCSA6JCA7UJjGpbOU2h7bDZS2L34mauGEqvvWF4cXSG7sj4DKh_S8BrMgZUY_U3LlDeE6L3G26eOGsB42aDlxEplFr5RUPQY5k6A2RPnVAulHczPGFry66Aoq0cUo1g5dZjCkn-78Lp5Ek-Wfcsike5qoH1S9sBkNMceZNPxwwQdCSfk7g6cboqLTTqrUtCnvDcnjkQlQCPJqg0glhLU=w1404-h936-no')"></div>
			<h1>Blog</h1>
            {{template "bloglist.html"}}
		</main>
	</body>
</html>
