<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head.html" (list "Home")}}
	</head>
	<body>
		{{template "toolbar.html"}}
		<main>
			<div class="bg-img" style="background-image:url('https://lh3.googleusercontent.com/ZySiTWDckvEAgoMNnEYWzFVNulUZrAvrqw1B7RHLcQQnwRn3rZ5ScfxqMRXgnL388PIngybFmYaNRf95z8eEwY2KNyangiQducvLx55jzQdrXosUcgIRVKBiCaC29eapet6lDMMB_JZ0ozkTG4Bcm0PrCF8AxszV3PkIFlixIYmUGxizFB-eC8Dh9vhmyGwgns5rGjB7d54g4cEmvhqI-s2j69BYTS65OUysXljzbaCOQe9rWmE52MXE4DMaJXMb9tPnWW4Rv6k1HXrdjU440aAdSiTFt6g-oqBun3oUlYQV8YYgQaKQ4bGfSh0FUwfWyqd-UlBfwYslj3xO4YwtwsYCtOCsaeOG_XW78hWclqCyNzN5Np9kTlSv4z2oAnbcvQbD_aSTDdIB7STm7xzp8zi7Cey_G-TdRzk5HgvFtENJ4xvgRknKejY47S-eZIbAe84z3O8QpE3ofdJa91sqjfZm8P-8m8QCnI8KaEKv8Gmk21JZLa-KTPxsXhJVRUYtlHVxtAd8eGn2tdcH5ZnFt5pJWVdAJ9y7HKAm0u1KsgI8hC6XmEjMU50iE86z86Sgq1MmaokFF9UjG2GbY9IOP6OTIk2CJjMvKQhQuof_K0QZOmUhVOYFabiFKpxlTsHlXnIx8twfkw3n4K6ju1iHA41gr4-nQlfhEEk33WT5FiqIgxIKNsqot2mz2e951unVMpQTTsrDjJ1DduHcEfE75Fxg4_QiIQah4b5eHu1SVZeBQ6Rr=w750-h717-no')"></div>
			<h1>Jellyfish</h1>

			<section>
				<p>The Jellyfish, FTC Team 4654, competes in the First Tech Challenge, a yearly challenge in which teams design, build, program, and operate robots. In addition to competing, we also run various STEM-promoting programs like <a href="/outreach/jj">Junior Jellies</a> and <a href="/outreach/cad">CAD</a>.</p>
				<a class="button" href="/about/robotics">More Information</a>
			</section>

			<section>
				<img alt="Junior Jellies" src="https://lh3.googleusercontent.com/Ck1L7W7yNniwrSFx3UtJkjWaAQ3QDvIFEI0sWnEw7hpUS48snQGR4G-OinMB_dG9Jf7x_mnCypoj2CAHdaR2Q-S6Iw1RLp7c6fX6Cf7TrEFjVqUaRvs3fgG83sysSAKYE3Ux3apPg6QP-m84NxPvGAMZI_6oXEsC6qmkP1q_M74q0gd3dE3NJUmrhmHH5wlniAOmHU2mCSAOTLq5YnmI_G1VosTI0-FmvW-f2YQh-_UY8L1bQMWHlTpru9F1GtKPt0pV99_4uXdpvyI0Sol30r83AjDVcQWZuskCxGqkaxW6a9q3ykOea6i3TIgSDawCuqXLaY5ORxXjCEqPkV7e5Kd84sWjI7q_dIsXFSFDOWLR-KdDiuDELpbgVG0Vx4EF7Vz8NERExKTiz5lCln6GoltdJtQmqzcK2PelnPeC3u09Ha9wMWPDP2b8EzTiwDtHEAo0Si0kCWjlVYCy2bh9yqYh7cUkiqqE0D6HlCczKy-4Q144l1O9crMDNxwID4RdL6kS6_IlL-DhiRa5rZIkFQsmM_kcBWwvXkMLaMdeMyRiVv7qpzm5vUC-k3JIghM5YyrAaiY_S7fq0aHhC_XsgUIGi0QtCe3riATB8JzkKgUUoP8JAHKK4HcUi8piJTHhXC7nlDnbzL9r_2lXmXvigAoSiISX_oyrxYg9TjzU814pz9wp9MyoFfIr97IdXG1akYbbrP_UA1iRw9aUtNkiQp58jcZKEqNSwp2GDHoy0C3EzgIp=w1560-h780-no">
				<p>The BBHS Robotics Team, the Jellyfish, is proud to present Junior Jellies, a 7-week LEGO® Robotics Competition after-school program for <strong>BMP RSS 4th and 5th graders</strong>. Junior Jellies is modeled after the FIRST Tech Challenge (FTC), our own robotics league, in order to develop students’ abilities in teamwork, programming, engineering, and critical thinking from a younger age. We also aim to bring FIRST principles Gracious Professionalism® and Coopertition®, which represent the union of friendship and rivalry in a positive way on the playing field, to Blind Brook students, introducing them to skills necessary for success as, hopefully, prospective Jellyfish, but also as learners and individuals.</p>
				<a class="button" href="/outreach/jj">More Information</a>
				<a class="button" href="/outreach/jj#signup">Register</a>
			</section>

			<section>
				<h2>Sponsors</h2>
				<a target="_blank" href="http://mendelopticalinsight.com/"><img src="https://jellyfishbbhs.com/wp-content/uploads/2018/02/MendelOptical-1-300x169.png"></a>
				<a target="_blank" href="https://www.summertech.net/coditum"><img src="https://jellyfishbbhs.com/wp-content/uploads/2019/11/coditum-logo-final-transparent-300x158.png"></a>
				<a target="_blank" href="https://www.summertech.net"><img src="https://jellyfishbbhs.com/wp-content/uploads/2019/11/summertech_logo_color-transparent-300x199.png"></a>
			</section>
		</main>
	</body>
</html>
