<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head.html" (list "Contact Us")}}
	</head>
	<body>
		{{template "toolbar.html"}}
		<main>
			<div class="bg-img" style="background-image:url('https://lh3.googleusercontent.com/BOAb1hwaDzcQ8gA6QZFLrL9ch3Ui-2g6uiJXzywNeHZcwUkYc8ALRaaHx4qQWqHuWe6gfZH-S0Y9X4HCTmre5Wowz3CG_dwVYBcNxOdA-FdHDjXqIDxPFQRlIBB-tR6DpI4pDwnsB76WqzifbHM329e7eTsUAnd3QEvRInr_-patPTCtoTYfBXLCyBR4c8ARRFnUlxkJCRX7JrhY_FmWxIH4I4oTmifq1oEmzI90aif_tyg7ZZgioc7EuBiudnAEjDYmTJqS42Iui3ic_S_ZRkShKkqGjpQ0HHJb3Z7K2koyweIurFovqZG4lFF_t1V3H6UoKrA8LuE4HRjOAlD0_LcC7m-0YPVD6isypCX2il05S0EMe1e-gFYoEjGk3DTgfXIMjsAEpLydxi0qTqZmhoXDYM-qN5ypuIF0nuxQ-rDML-ATLOqy6MRVJb54hALBRC4Ai3z38HjuP7i2WorQZFw7cNV6S0e7N96ASxQ7BAJdpc32NogAWtdRwWFcC6ESmGz-z62BJBXsdkt8e9YvmQX0kNnt0mpocwqOVR_vh9AKY22nYA4YEzFq9-jSDbjY-LBXChRMkui9hgqr6h3szm1zDaNsamNirjFHIN2DZMBWSd_ZDgqFWVe9QmFIOKYyOjkgncamcCKYorFjlj6VG6lwzSgeWVWwgIwkWnnKzImvdO6qfYe9YbeXIgpjs1UIalhhvmnvDBhDD2ST2tusPTQ9cWHjZkaHCTXtz0PiXYgIKQgm=w1246-h936-no')"></div>
			<h1>Contact Us</h1>
			<section>
				<p><b>Location</b>: 840 King St, Rye Brook, NY 10573</p>
				<p><b>Email</b>: <a href="mailto:bbhsrobotics4654@gmail.com">bbhsrobotics4654@gmail.com</a></p>
				<p><b>Twitter</b>: <a href="https://twitter.com/ftcjellyfish?lang=en">@ftcjellyfish</a></p>
				<p><b>GitHub</b>: <a href="https://github.com/jellyfish4654">jellyfish4654</a></p>
			</section>
		</main>
	</body>
</html>
