<!DOCTYPE html>
<html lang="en">
	<head>
		{{template "head.html" (list "Engineering Notebook")}}
	</head>
	<body>
		{{template "toolbar.html"}}
		<main>
			<div class="bg-img" style="background-image:url('https://lh3.googleusercontent.com/TJzcjpt1DtDsebO0r51kz-Iusn65yqF781HVDeI18AxN9k2XBxIvZnw0h1qDnouQuVkaK9TZktUwpZG7IHJ4apmyh9UybInsbrh4bNVnjNU1t3bEW3PIYy3ujsthW9X6oerwn1P7gM6yvESxBMDHflQW6cs-HKi0WZKVZHRTjxXVuBBWOWIX2C6eM5cMUYACVbNs2rovGJTPrP88cPGzrjfyPC_sgYXXVVl8FX8_-w3j5pOeXIy0slKXkuAaCCjzk2Uzi_lzloplBVuDbqISx35wmXIMeIpl9Tgdgps_hWUtkUYO5F4xjRHryZ23KZrLfUK_fsttoZ4TtByc5-XCu7kOWpC1VvORAoG3nKmtsW3yU0ou24IdnrF5_GNfFNfPKoiV3ZxXqmXOOMef_eSxT1n1vwgWFFbLeSijQ5_G_rlqgDEPRIOtpaPgbXwwLz8dSbv9Ri9bXYMAJCO7Nl4CmekyvIrvQT2cSmrlDwB1BZGTthtqKHAWp9TyzAIHqvo_WpRD08A4398FH_6FFi4k26dKucjBKCSA6JCA7UJjGpbOU2h7bDZS2L34mauGEqvvWF4cXSG7sj4DKh_S8BrMgZUY_U3LlDeE6L3G26eOGsB42aDlxEplFr5RUPQY5k6A2RPnVAulHczPGFry66Aoq0cUo1g5dZjCkn-78Lp5Ek-Wfcsike5qoH1S9sBkNMceZNPxwwQdCSfk7g6cboqLTTqrUtCnvDcnjkQlQCPJqg0glhLU=w1404-h936-no')"></div>
			<h1>Engineering Notebook</h1>
			<section>
				<h2>What is an Engineering Notebook?</h2>
				<blockquote>"Throughout the process of building and designing a robot, teams will draw ideas on paper, encounter
obstacles, and learn valuable lessons. This is where teams will use an engineering notebook. These
notebooks follow the team from kickoff throughout the competitions. Judges review a team’s engineering
notebook to better understand the journey, design, and team.<br><br>
The engineering notebook is a documentation of the team, outreach and fund-raising efforts, team plans, and
the robot design. This documentation should include sketches, discussions and team meetings, design
evolution, processes, obstacles, and each team member’s thoughts throughout the journey for the entire
season. Teams must create a new notebook for each season."</blockquote>
				<p> - <a href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/ftc/engineering-notebook-guidelines.pdf" target="_blank">
					FIRST Engineering Notebook Guide</a>
				</p>
			</section>
			<section>
				<h2>Links</h2>
				<p><a href="https://docs.google.com/document/d/1O6isAfMqjjzNJmPtljBgH4S-9t8eUvbx9RTDTDztenk/edit?usp=sharing" target="_blank">Our Engineering Notebook</a></p>
			</section>
		</main>
	</body>
</html>
